/****************************************
*	Coder:		  Batuhan Kök			*
*	Fonts:		  Google Fonts			*
*	Version:  	  0.1.1				*
*	URL:		  http://batuhan.in		*
****************************************/

	@import url(http://fonts.googleapis.com/css?family=Scada:400,700,400italic,700italic);
	
	* { padding: 0; margin: 0; list-style: none; border: 0 }
	body {
		background: #eee;
		font: 15px/21px 'Scada', tahoma;
	}
	ul.menu {
		overflow: hidden;
		background: #555
	}
	ul.menu li {
		float: left;
		border-right: 1px solid #222
	}
	ul.menu li a {
		display: block;
		padding: 10px 20px;
		color: #eee;
		text-decoration: none
	}
	ul.menu li a:hover {
		background-color: #222
	}
	.content {
		width:97%;
		font: 16px/22px 'Scada', tahoma; 
		margin: 20px auto;
		background: #fff;
		padding: 15px;
		line-height: 25px;
		border: 1px solid #ddd;
		border-left-color: #bbb;
		border-top-color: #bbb;
		outline: 0;
	}
	.content h1 {
		color: #555555;
	}
	.tcontent {
		width:100%;
		font: 15px/20px 'Scada', tahoma; 
		background: #fff;
		height: 180px;
		padding: 0; 
		margin:0;
		resize: none;
		outline: 0;
	}	
	.select {
		padding: 8px 5px;
		width: 262px;
		font: 15px 'Scada', tahoma; 
		border: 1px solid #ddd;
		border-left-color: #bbb;
		border-top-color: #bbb;
		outline: 0;
		margin: 5px 0px;
	}
	.submit {
		font: 15px 'Scada', tahoma; 
		padding: 8px 5px;
		width: 262px;
		border: 1px solid #ddd;
		border-left-color: #bbb;
		border-top-color: #bbb;
		outline: 0;
		margin: 5px 0px;
	}
	.input {
		font: 15px 'Scada', tahoma; 
		padding: 8px 5px;
		width: 250px;
		border: 1px solid #ddd;
		border-left-color: #bbb;
		border-top-color: #bbb;
		outline: 0;
		margin: 5px 0px;
	}	
	.footer {
		width:100%;
		background: #555;
		color: #fff;
		height: 30px;
		padding-top: 10px;
	}
